header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}
.header__title{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
}
.nav{
    display: flex;
    gap: 40px;
    font-size: 30px;
    font-weight: 400;
}
.nav__btn:hover{
    color: rgb(247, 136, 40);
    transition: 0.15s;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
}
section{
    width: 640px;
    background-color: #f8f8f8;
}
button:active{
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px 5px inset;
}