<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/template::frame(~{::title},~{::main},_)}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴 고르기</title>
</head>

<body>
    <main>
        <section class="menu">
            <div class="menu__row">
                <span class="menu__text">메뉴 수</span>
                <input class="menu__input" type="text">
            </div>
            <button class="menu__btn">돌리기</button>
        </section>
    </main>
</body>

</html>